<% provide(:title, "About") %>
<img src="http://i.imgur.com/7t2RjAL.jpg?1" title="source: imgur.com" id="bg-home" />
<div id="home" class="container">
  <div class="jumbotron">
    <h1 class="text-center">About</h1>
    <p class="lead text-center">Trailfolio was created to help you plan your next adventure! Search for trails by location and type then save them to 'folios' to keep track of trails and organize your trip.</p>
    <p class="lead text-center">Start planning today!</p>
    <div class="text-center">
      <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>