<% provide(:title, "Home") %>
<img src="http://i.imgur.com/7t2RjAL.jpg?1" title="source: imgur.com" id="bg-home" />
<div id="home" class="jumbotron text-center">
  <h1>Welcome to TrailFolio</h1>
  <p class="lead">Search for trails...Keep track of your adventures</p>
  <p><%= link_to "Sign Up To Begin!", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>