<% provide(:title, "Home") %>
<h1>Welcome to TrailFolio</h1>
<h4>Search for trails in your city...keep track of your adventures...sign up to begin!</h4>
<%= link_to "Sign Up", signup_path, class: "btn btn-default" %>
