<% provide(:title, "Home") %>

<div class="container text-center">
  <h1>Welcome to TrailFolio</h1>
  <p class="lead">Search for trails in your city...Keep track of your adventures</p>
  <p><%= link_to "Sign Up To Begin!", signup_path, class: "btn btn-primary btn-lg" %></p>
</div>
