<% provide(:title, @user.name) %>
<div class="container text-center">
  <div class="jumbotron">
    <h1>Hi <%= @user.name %>!</h1>
    <br />
    <hr />
    <br />
    <p class="lead">Choose a button below:</p>  
    <div class="row">
      <div class="col-md-4"><%= link_to "1. Create new folio", new_folio_path, class: "btn btn-primary btn-lg btn-block" %></div>
      <div class="col-md-4"><%= link_to "2. Search for trails", trails_path, class: "btn btn-primary btn-lg btn-block" %></div>
      <div class="col-md-4"><%= link_to "3. View my folios", folios_path, class: "btn btn-primary btn-lg btn-block" %></div>
    </div>
  </div>
</div>