@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=La+Belle+Aurore|Pontano+Sans);

//---------typography----------//

body {
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  color: #2e2d27;
}

h1, h2 {
  font-family: 'La Belle Aurore', serif;
  color: #2e2d27;
}

h3, h4, h5, h6 {
  font-family: 'Pontano Sans', sans-serif;
  color: #2e2d27;
}

p {
  padding: 10px;
}

a {
  color: #799c57;
}

a:hover {
  color: #628c38;
  text-decoration: none;
}

#title h1 {
  color: #fff;
}

#title h4 {
  color: #fff;
}

#title p {
  color: #fff;
}

#title li {
  color: #fff;
}

//---------navbar----------//

.navbar {
  border-radius: 0px;
}

.navbar-default {
  opacity: .7;
  background-color: #2e2d27;
  border-color: #2e2d27;
}

.navbar-brand {
  padding: 20px 15px 20px 15px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #2e2d27;
  color: #fff;
}

.navbar-default .navbar-nav li a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #e5dfcf;
  font-family: 'La Belle Aurore', serif;
  font-size: 2.25em;  
}

.navbar-default .navbar-nav li a:hover {
  color: #e5dfcf;
}

.dropdown-menu {
  background-color: #2e2d27;
}

.dropdown-menu li a {
  background-color: #2e2d27;
  color: #fff;
}

.dropdown-menu li a:hover {
  background-color: #141411;
  color: #fff;
}

//---------images----------//

#site-bg {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

//---------custom----------//

.jumbotron {
  padding-top: 95px;
  padding-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  background: transparent;
}

.jumbotron.dk-bg{
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 55px;
  background-color: #2e2d27;
  opacity: .8;
}

.panel-default {
  width: 75%;
  margin: 20px auto 30px;
}

//---------buttons----------//

.btn-center {
  margin: 0 auto;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #628c38;
  border-color: #628c38;
  border: none;
}

.btn-primary {
  background-color: #628c38;
  border-color: #628c38;
}

.btn-primary:hover {
  background-color: #799c57;
  border-color: #799c57;
}

//---------forms----------//

.user-form {
  width: 50%;
  margin: 0 auto;
  color: #fff;
}

.autofocus {
  border-color: #799c57;
}

input {
 color: #2e2d27;  
}

input[type='text']:focus{
 outline:none;
 border-color: #628c38;
 color: #2e2d27;
}

input[type='submit'] {
 color: #fff;  
}

select {
  margin: 10px;
  color: #2e2d27;
}

.alert-danger {
  background-color: #a94442;
  border-color: #a94442;
  color: #fff;
}

//---------tables----------//

table {
  color: #fff;
}

.panel-default {
  background-color: #6e6d68;
  border-color: #2e2d27;
  opacity: .8;
}

.panel-default > .panel-heading {
  background-color: #dddddd;
}



