@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore|Pontano+Sans);

//---------typography----------//

body {
  font-family: 'Pontano Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'La Belle Aurore', serif;
}

h3, h4, h5, h6 {
  font-family: 'Pontano Sans', sans-serif;
}

p {
  padding: 10px;
}

a {
  color: #799c57;
}

#title h1 {
  color: #ffffff;
}

#title p {
  color: #ffffff;
}

//---------navbar----------//

.navbar {
  border-radius: 0px;
}

.navbar-default {
  opacity: .8;
}

//---------images----------//

#bg-home {
  position: fixed; 
  top: 0; 
  left: 0;  
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

//---------custom----------//

.jumbotron {
  padding-top: 95px;
  padding-bottom: 18px;
  width: 80%;
  margin: 0 auto;
  background: transparent;
}

.panel-default {
  width: 75%;
  margin: 20px auto 30px;
}

//---------buttons----------//

.btn-center {
  margin: 0 auto;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #8EB566;
  border-color: #8EB566;
  border: none;
}

.btn-primary {
  background-color: #8EB566;
  border-color: #8EB566;
}

.btn-primary:hover {
  background-color: #799c57;
  border-color: #799c57;
}

//---------forms----------//

.user-form {
  width: 50%;
  margin: 0 auto;
}

.autofocus {
  border-color: #799c57;
}

input[type='text']:focus{
 outline:none;
 border-color: #8EB566;
}

select {
  margin: 10px;
}
